<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <h1>Aqui puedes crear tu lista</h1> 
  </a>
</nav>

<div class="container">
<div class="row">
<div class="col.md-8">
  <div style="padding-top: 10px;" class="form-group">
   
    
  </div>
<ul class="list-group" style="padding-top: 20px;">
  <li 
    *ngFor="let productos of productoArray"
    class="list-group-item list-group-item-action"
    (click)="abrir(productos)"
    [class.active]="productos == selecproductos">
    <span class="badge badge-primary">{{productos.id}}</span> {{productos.name}} 
  </li>  
</ul>
<div class="card mt-10">
  <div class="card.body">
    <div class="card-title">
      
      <div class="form-group">
        <input type="text" [(ngModel)]="selecproductos.name" placeholder="Escribir" class="form-control">
      </div>
      <button (click)="addoeditar()" class="btn btn-primary">
        OK
      </button>
      <button
        *ngIf="selecproductos.id !==0"
        class="btn btn-danger"
        (click)="eliminar()">
        Eliminar
      </button>
    </div>
  </div>
</div>
</div>
</div>
</div>

<app-posts style="margin: 5%;"></app-posts>
