
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    Hola 
  </a>
</nav>
<div class="container">
<div class="row">
<div class="col.md-8">
<ul class="list-group">
  <li 
    *ngFor="let productos of productoArray"
    class="list-group-item">
    {{Productos.pais}}
  </li>  
</ul>
<div class="card mt-4">
  <div class="card.body">
    <div class="card-title">
      Ingrese un producto
    </div>
  </div>
</div>
</div>
</div>
</div>







<style>
  body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>